<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Kissan Konnect</title>
    <link
      rel="shortcut icon"
      href="https://sidcupfamilygolf.com/wp-content/themes/puttosaurus/favicons/favicon-32x32.png"
      type="image/x-icon"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/remixicon@3.4.0/fonts/remixicon.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/styles.css" />
  </head>

  <body>
    <div id="nav">
      <img src="" alt="LOGO" />
      <h4>HOME</h4>
      <h4>NEWS UPDATES</h4>
      <h4>E-MANDI</h4>
      <h4>AGRO STORES</h4>
      <h4>KRISHI GRAM</h4>
    </div>
    <div id="cursor"></div>
    <div id="cursor-blur"></div>

    <video
      autoplay
      loop
      muted
      
      src="https://videos.pexels.com/video-files/5271943/5271943-hd_1920_1080_25fps.mp4"
    ></video>
    <div id="main">
      <div id="page1">
        <h1>KRISHI KONNECT</h1>
        <h2>ELEVATING YOUR AGRICULTURE</h2>
        <p>
          We aim to provide a comprehensive, one-stop solution to farmer
          grievances, contribiting their growth
        </p>
        <div id="arrow">
          <i class="ri-arrow-down-line"></i>
        </div>
      </div>
      <div id="page2">
        <div id="scroller">
          <div id="scroller-in">
            <h4>HOME</h4>
            <h4>NEWS UPDATES</h4>
            <h4>E-MANDI</h4>
            <h4>AGRO STORES</h4>
            <h4>KRISHI GRAM</h4>
          </div>
          <div id="scroller-in">
            <h4>HOME</h4>
            <h4>NEWS UPDATES</h4>

            <h4>E-MANDI</h4>
            <h4>AGRO STORES</h4>
            <h4>KRISHI GRAM</h4>
          </div>
        </div>
        <div id="about-us">
          <img src="" alt="ABOUT LEFT" />
          <div id="about-us-in">
            <h3>ABOUT US</h3>
            <p>
              We aim to provide a comprehensive, one-stop solution to farmer
              grievances, leveraging cutting-edge technology and inclusive
              practices to address the diverse needs of agricultural
              stakeholders. By integrating digital tools, policy advocacy, and
              community engagement, we seek to create a cohesive platform that
              not only resolves existing issues but also prevents future
              grievances through proactive measures.
            </p>
          </div>
          <img
            src=""
            alt="ABOUT RIGHT"
          />
        </div>
        <div id="cards-container">
          <div class="card" id="card1">
            <div class="overlay">
              <h4>News Update</h4>
              <p>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nulla
                quam molestias magni cupiditate architecto et enim quas facere
                ipsum tempora?
              </p>
            </div>
          </div>
          <div class="card" id="card2">
            <div class="overlay">
              <h4>E-MANDI</h4>
              <p>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nulla
                quam molestias magni cupiditate architecto et enim quas facere
                ipsum tempora?
              </p>
            </div>
          </div>
          <div class="card" id="card3">
            <div class="overlay">
              <h4>Agro Stores</h4>
              <p>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nulla
                quam molestias magni cupiditate architecto et enim quas facere
                ipsum tempora?
              </p>
            </div>
          </div>
        </div>
        <div id="green-div">
          <img
            src="https://eiwgew27fhz.exactdn.com/wp-content/themes/puttosaurus/img/dots-side.svg"
            alt="HELLO"
          />
          <h4>
            SIGN UP FOR NEWSBUZZ AND SPECIAL OFFERS STRAIGHT TO YOUR INBOX
          </h4>
          <img
            src="https://eiwgew27fhz.exactdn.com/wp-content/themes/puttosaurus/img/dots-side.svg"
            alt="BYE"
          />
        </div>
      </div>
      <div id="page3">
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos ipsa ad optio, voluptatum nulla eius dolorem assumenda quidem earum reiciendis commodi, nesciunt molestias exercitationem voluptates tempore. Cum laboriosam repellendus ut!
        </p>
        <img
          id="colon1"
          src="https://eiwgew27fhz.exactdn.com/wp-content/themes/puttosaurus/img/quote-left.svg"
          alt=""
        />
        <img
          id="colon2"
          src="https://eiwgew27fhz.exactdn.com/wp-content/themes/puttosaurus/img/quote-right.svg"
          alt=""
        />
      </div>
      <div id="page4">
        <h1>WHAT ARE YOU WAITING FOR?</h1>
        <div class="elem">
          <h2>WAITING1</h2>
          <img
            src="https://eiwgew27fhz.exactdn.com/wp-content/uploads/2023/02/page-toptracer-1024x683.jpg?strip=all&lossy=1&sharp=1&ssl=1"
            alt=""
          />
        </div>
        <div class="elem">
          <h2>WAITING2</h2>
          <img
            src="https://eiwgew27fhz.exactdn.com/wp-content/uploads/2023/02/page-lessons-1024x683.jpg?strip=all&lossy=1&sharp=1&ssl=1"
            alt=""
          />
        </div>
        <div class="elem">
          <h2>WAITING 3</h2>
          <img
            src="https://eiwgew27fhz.exactdn.com/wp-content/uploads/2023/02/page-ag-1024x682.jpg?strip=all&lossy=1&sharp=1&ssl=1"
            alt=""
          />
        </div>
      </div>
      <div id="footer">
        <img
          src="https://eiwgew27fhz.exactdn.com/wp-content/themes/puttosaurus/img/dots-footer.svg"
          alt=""
        />
        <div id="f1">
          <img
            src="https://eiwgew27fhz.exactdn.com/wp-content/uploads/2023/02/logo-white.svg"
            alt=""
          />
        </div>
        <div id="f2">
          <h3>MANY</h3>
          <h3>MANY</h3>
          <h3>MANY</h3>
          <h3>MANY</h3>
          
        </div>
        <div id="f3">
          <!-- <h3>coffee shop</h3>
          <h3>LEAGUES</h3>
          <h3>Contact us</h3> -->
          <h3>Contact us</h3>
          <h3>Contact us</h3>
          <h3>our</h3>
          <h3>Contact us</h3>
        </div>
        <div id="f4">
          <h4>
            Team Conquerors <br />
            JIIT <br />
            TEL: 982989211 <br />
            GET DIRECTIONS <br />
          </h4>
        </div>
      </div>
    </div>

    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.1/gsap.min.js"
      integrity="sha512-qF6akR/fsZAB4Co1QDDnUXWnaQseLGXoniuSuSlPQK6+aWhlMZcHzkasCSlnWoe+TJuudlka1/IQ01Dnhgq95g=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.1/ScrollTrigger.min.js"
      integrity="sha512-IHDCHrefnBT3vOCsvdkMvJF/MCPz/nBauQLzJkupa4Gn4tYg5a6VGyzIrjo6QAUy3We5HFOZUlkUpP0dkgE60A=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script src="/app.js"></script>
  </body>
</html>
