<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    
     <title>Kissan Konnect</title>
  <link rel="icon" type="image/x-icon" href="https://console.cloudinary.com/pm/c-d4a581bac8fab859f28f37de5dfed0/media-explorer?assetId=92159b712eafeb05ba07320cecba0b62">
    <link
      rel="shortcut icon"
      href="https://sidcupfamilygolf.com/wp-content/themes/puttosaurus/favicons/favicon-32x32.png"
      type="image/x-icon"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/remixicon@3.4.0/fonts/remixicon.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/styles.css" />
  </head>

  <body>
    <div id="nav">
      <img src="https://res.cloudinary.com/dtc8f5qlx/image/upload/v1713651634/l0ygc4ezavkwgpjyoxkt.png" alt="LOGO" />
      <div id="homenav" class="navbtn">
        <a href="/krishiKonnect">HOME</a>
      </div>
      <div id="newsnav" class="navbtn">
        <a href="/krishiKonnect/subsidies">SUBSIDIES</a>
      </div>
      <div id="emandinav" class="navbtn">
        <a href="/krishiKonnect/eMandi">E-MANDI</a>
      </div>
      <div id="agronav" class="navbtn">
        <a href="#">AGRO STORES</a>
      </div>
      <div id="krishinav" class="navbtn">
        <a href="/krishiKonnect/krishiGram">KRISHI GRAM</a>
      </div>
      <div id="cropdisnav" class="navbtn">
        <a href="#">CROP CARE</a>
      </div class="loginkaro"> 
      
      <%if(mobile==null){%>
        <a href="/krishiKonnect/login" >LOGIN</a>
        <%}else{%>
        <a href="/krishiKonnect/logout" >LOGOUT</a>
        <%}%>
      </div>


    </div>
    <div id="cursor"></div>
    <div id="cursor-blur"></div>

    <video
      autoplay
      loop
      muted
      src="https://videos.pexels.com/video-files/5271943/5271943-hd_1920_1080_25fps.mp4"
    ></video>
    <div id="main">
      <div id="page1">
        <h1>KRISHI KONNECT</h1>
        <h2>ELEVATING YOUR AGRICULTURE</h2>
        <p>
          We aim to provide a comprehensive, one-stop solution to farmer
          grievances, contribiting their growth
        </p>
        <div id="arrow">
          <i class="ri-arrow-down-line"></i>
        </div>
      </div>
      <div id="page2">
        <div id="scroller">
          <div id="scroller-in">
            <h4>HOME&nbsp;&nbsp;</h4>
            <h4>SUBSIDIES&nbsp;&nbsp;</h4>
            <h4>E-MANDI&nbsp;&nbsp;</h4>
            <h4>AGRO STORES&nbsp;&nbsp;</h4>
            <h4>KRISHI GRAM&nbsp;&nbsp;</h4>
            <h4>CROP CARE&nbsp;&nbsp;</h4>
          </div>
          <div id="scroller-in">
            <h4>HOME</h4>
            <h4>SUBSIDIES</h4>

            <h4>E-MANDI</h4>
            <h4>AGRO STORES</h4>
            <h4>KRISHI GRAM</h4>
          </div>
        </div>
        <div id="about-us">
          <img
            src="https://images.unsplash.com/photo-1523741543316-beb7fc7023d8?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Nnx8YWdyaWN1bHR1cmV8ZW58MHx8MHx8fDA%3D"
            alt="ABOUT LEFT"
          />
          <div id="about-us-in">
            <h3>ABOUT US</h3>
            <p>
              We aim to provide a comprehensive, one-stop solution to farmer
              grievances, leveraging cutting-edge technology and inclusive
              practices to address the diverse needs of agricultural
              stakeholders. By integrating digital tools, policy advocacy, and
              community engagement, we seek to create a cohesive platform that
              not only resolves existing issues but also prevents future
              grievances through proactive measures.
            </p>
          </div>
          <img
            src="https://images.unsplash.com/photo-1515150144380-bca9f1650ed9?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTZ8fGFncmljdWx0dXJlfGVufDB8fDB8fHww"
            alt="ABOUT RIGHT"
          />
        </div>
        <div id="cards-container">
          <div class="card" id="card1">
            <div class="overlay">
              <!-- <img src="https://images.unsplash.com/photo-1508921340878-ba53e1f016ec?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="card1111"> -->
              <h4>SUBSIDIES</h4>
              <p>
               Stay informed about the latest government plans and subsidies applicable to you through the Krishi Konnect portal. Ensure you never miss out on valuable opportunities to optimize your agricultural endeavors.
              </p>
            </div>
          </div>
          <div class="card" id="card2">
            <div class="overlay">
              <h4>E-MANDI</h4>
              <p>
                The digital marketplace integration empowers farmers with
                transparency and choice by providing access to multiple mandis.
                Daily price updates enable informed selling decisions, ensuring
                fair prices for their produce.
              </p>
            </div>
          </div>
          <div class="card" id="card3">
            <div class="overlay">
              <h4>Agro Stores</h4>
              <p>
                Access reliable agricultural inputs through government-certified stores, ensuring product authenticity and quality assurance. Conveniently locate nearby stores for hassle-free procurement and strategic planning based on local demand patterns.
              </p>
            </div>
          </div>
        </div>
        <div id="green-div">
          <img
            src="https://eiwgew27fhz.exactdn.com/wp-content/themes/puttosaurus/img/dots-side.svg"
            alt="HELLO"
          />
          <h4>
            SIGN UP FOR NEWSBUZZ AND SPECIAL OFFERS STRAIGHT TO YOUR INBOX
          </h4>
          <img
            src="https://eiwgew27fhz.exactdn.com/wp-content/themes/puttosaurus/img/dots-side.svg"
            alt="BYE"
          />
        </div>
      </div>
      <div id="page3">
        <p>
          Agriculture sustains life, nourishing both body and soul. It's the heartbeat of civilization, connecting past, present, and future through the simple act of growing food.
        </p>
        <img
          id="colon1"
          src="https://eiwgew27fhz.exactdn.com/wp-content/themes/puttosaurus/img/quote-left.svg"
          alt="colonopen"
        />
        <img
          id="colon2"
          src="https://eiwgew27fhz.exactdn.com/wp-content/themes/puttosaurus/img/quote-right.svg"
          alt="colonclose"
        />
      </div>
      <div id="page4">
        <h1>WHAT ARE YOU WAITING FOR?</h1>
        <div class="elem">
          <h2>Improved Lifestyle</h2>
          <img
            src="https://images.unsplash.com/photo-1570966087241-20278ac27b2c?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8aGFwcHklMjBmYXJtZXJ8ZW58MHx8MHx8fDA%3D"
            alt=""
          />
        </div>
        <div class="elem">
          <h2>Economic benefits</h2>
          <img
            src="https://images.unsplash.com/photo-1579621970795-87facc2f976d?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8M3x8c2F2aW5nc3xlbnwwfHwwfHx8MA%3D%3D"
            alt=""
          />
        </div>
        <div class="elem">
          <h2>Sustainable agricuture</h2>
          <img
            src="https://images.unsplash.com/photo-1464226184884-fa280b87c399?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTV8fGFncmljdWx0dXJlfGVufDB8fDB8fHww"
            alt=""
          />
        </div>
      </div>
      <div id="footer">
        <img src="" alt="" />
        <div id="f1">
          <img src="https://res.cloudinary.com/dtc8f5qlx/image/upload/v1713651963/z3yqdprgbjxoyxgcuaxx.png" alt="sorry" />
        </div>
        <div id="f2">
          <h3>Subsidies</h3>
          <h3>E-Mandi</h3>
          <h3>Agro Stores</h3>
          <h3>Krishi Gram</h3>
          <h3>Crop Care</h3>
        </div>
        <div id="f3">
          <h2>Our Partners</h2><br>
          <a href="https://agriwelfare.gov.in/" target="_blank">Department of Agriculture and Farmers Welfare</a>
          <br><br><a href="https://agriculture.up.gov.in/" target="_blank">Department of Agriculture, U.P.</a>
          
        </div>
        <div id="f4">
          <h4>
            Team Conquerors <br /><br/>
            Jaypee Institue of Information Technology <br />
            Noida<br/>
            
            
          </h4>
        </div>
      </div>
    </div>

    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.1/gsap.min.js"
      integrity="sha512-qF6akR/fsZAB4Co1QDDnUXWnaQseLGXoniuSuSlPQK6+aWhlMZcHzkasCSlnWoe+TJuudlka1/IQ01Dnhgq95g=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.1/ScrollTrigger.min.js"
      integrity="sha512-IHDCHrefnBT3vOCsvdkMvJF/MCPz/nBauQLzJkupa4Gn4tYg5a6VGyzIrjo6QAUy3We5HFOZUlkUpP0dkgE60A=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script src="/app.js"></script>
  </body>
</html>
