* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  /* Assigning all the same properties to the body */
  body {
    background : url("https://images.unsplash.com/photo-1605000797499-95a51c5269ae?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MzZ8fGZhcm1lcnxlbnwwfHwwfHx8MA%3D%3D");
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    background-color: rgb(0, 0, 0);
    align-items: center;
  }
   
  .container {
    width: 40em;
    background-color: #FFC9DEF5;
    overflow: hidden;
    border-radius: 1em;
    text-align: center;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 1em;
  }
   
  .user-image {
    padding: 3em 0;
    background: linear-gradient(to left bottom, #119f3a 0%, #a3d421 80%);
  }
   
  .user-image img {
    width: 7em;
    height: 7em;
    border-radius: 50%;
    box-shadow: 0 0.6em 1.8em;
    object-fit: cover;
  }
   
  .content {
    color: #565656;
    padding: 2.2em;
  }
   
  .name {
    font-size: 1.5em;
    text-transform: uppercase;
  }
   
  .username {
    font-size: 1em;
    color: #9e9e9e;
  }
   
  .links {
    display: flex;
    justify-content: center;
    margin: 1.5em 0;
  }
   
  a {
    text-decoration: none;
    color: #565656;
    transition: all 0.3s;
    font-size: 2em;
    margin-right: 1.2em;
  }
   
  a:last-child {
    margin: 0;
  }
   
 
   
  .details {
    margin-bottom: 1.8em;
  }
   
   
  /* CSS for messagin link */
   
  .effect {
    text-align: center;
    display: inline-block;
    position: relative;
    text-decoration: none;
    color: rgb(48, 41, 41);
    text-transform: capitalize;
    width: 100%;
    background: linear-gradient(to right top, #119f3a 0%, #a3d421 80%);
    font-size: 1.2em;
    padding: 1em 3em;
    border-radius: 5em;
    overflow: hidden;
  }
   
