<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Krishi Gram</title>
</head>
<body>
    <h1>LET FARMERS HAVE SOME FUN</h1>

    <h3><a href="/krishiKonnect/krishiGram/new">Create new post</a></h3>
    <% for(let p of posts){ %>
        <div style="border: 1px solid black;">
            <h5><%=p.name%></h5>
            <h2><a href="/krishiKonnect/krishiGram/<%=p._id%>"><%=p.title%></a></h2>
            <img src="<%=p.media%>" alt="">
        </div>
    <% } %>


</body>
</html>